body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../images/Cat\ astronaut-bro.png") no-repeat center center
    fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.login-card {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}
.login-card > p,
a {
  text-decoration: none;
  font-size: medium;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #00c3ff;
  border-radius: 5px;
  box-sizing: border-box; /* Important for width */
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #509b61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #218838;
}

.error-msg {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}
