.hero-section {
  padding: 80px 0;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 0 40px;
  align-items: center;
}

.hero-badge {
  background: #e0e7ff;
  color: #6366f1;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 55px;
  color: #1e293b;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content .highlight {
  color: #6366f1;
  position: relative;
}

.hero-content p {
  font-size: 20px;
  color: #64748b;
  line-height: 1.6;
  margin-bottom: 35px;
}

.hero-btns {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.btn-primary {
  background: #6366f1;
  color: white;
  padding: 15px 35px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.2);
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 25px rgba(99, 102, 241, 0.3);
}

.btn-secondary {
  border: 2px solid #e2e8f0;
  color: #475569;
  padding: 15px 35px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #f8fafc;
}

.hero-stats {
  display: flex;
  gap: 40px;
  border-top: 1px solid #e2e8f0;
  padding-top: 30px;
}

.stat-item strong {
  display: block;
  font-size: 25px;
  color: #1e293b;
}

.stat-item span {
  color: #64748b;
  font-size: 15px;
}

/* Image Section */
.hero-image {
  position: relative;
}

.image-wrapper {
  position: relative;
  z-index: 1;
}

.main-img {
  width: 100%;
  border-radius: 30px;
}

.floating-card {
  border: 2px solid black;
  position: absolute;

  background: white;
  padding: 15px 25px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 2;
}

.card-icon {
  font-size: 20px;
  background: #fff7ed;
  padding: 10px;
  border-radius: 10px;
}
